<h1>タスクの編集ページ</h1>

<div class ="show-container">
    <p>編集対象のタスク：<%= @tasklist.id %>：<%= @tasklist.content %></p>

    <%= render 'layouts/form' %>

    <br>
    <button class ="btn btn-success">
        <%= link_to 'このタスクを削除する', @tasklist, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'button-text-color' %>
    </button>
</div>