<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="col-lg-offset-3 col-lg-6">
          <h1 class ="h1">みんなのタスク</h1>
          <br>
          <h3 class ="h3">みんなのタスクを参考に自分のタスクを作成しよう！</h3>
          <p class ="p">他人のタスクを見ることで普段気づかないタスクが見つかるかも？</p>
          <br>
          <ul>
          <% @tasklists.each do |tasklist| %>
            <li><%= link_to tasklist.id, task_list_path(tasklist) %> : <%= tasklist.content %> : <%= tasklist.status %></li>
            <br>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
