.taskshow_li {
  width: 100%;
  font-size: 20px;
  background-color: #366b39;
  list-style: none;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px
  }

.tasklink_color {
  color: white;
}

h1 {
  margin-top: 50px;
  margin-bottom: 60px;
  text-align: center;
}

h3 {
  text-align: center;
}

.show-container {
    text-align: center;
}

.button-text-color {
    color: white;
}

.destroy_margin {
  margin-top: 10px;
}