h1 {
  margin: 20px;
<<<<<<< HEAD
}
=======
  text-align: center;
}

.show-container {
    text-align: center;
}

.button-text-color {
    color: white;
}
>>>>>>> d5e428e7e7b1613c7d8a74da491900be49b24dbd
